@if (data) {
  <div class="mb-4 bg-gray-300 p-2 rounded-lg">
    <h1 class="text-blue-700 font-semibold font-mono text-xl">{{data.id + "-" + data.title}}</h1>
    <mat-divider></mat-divider>
    <p class="font-medium font-mono text-lg">{{data.description}}</p>
    <mat-divider></mat-divider>
    <div class="flex items-center" [class]="data.isTasks ? 'justify-between' : 'justify-end'">
      @if (data.isTasks) {
        <p class="font-semibold" [className]="data.completed === true ? 'text-green-500' : 'text-red-500'">{{data.completed === true ? 'TERMINADA' : 'POR HACER'}}</p>
      }
      <div>
        @if (!data.isTasks) {
          <button mat-icon-button matTooltip="Ver tareas" (click)="action.emit({action: 'open', id: data.id})"><mat-icon class="text-blue-400">visibility</mat-icon></button>
        }
        <button mat-icon-button matTooltip="Editar" (click)="action.emit({action: 'edit', id: data.id})"><mat-icon class="text-blue-400">edit</mat-icon></button>
        <button mat-icon-button matTooltip="Eliminar" (click)="action.emit({action: 'delete', id: data.id})"><mat-icon class="text-red-500">delete</mat-icon></button>
      </div>
    </div>
  </div>
}
